*, body, html, *::before, *::after{
    margin:0;
    padding:0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
body, html {
    height: 100vh;
    overflow-y: hidden;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    /* Filvi */
    line-height: 1;
}

.title {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    /*line-height: 121px;*/
    margin:1rem;
}

.text-white{
    color: white;
}

.bg-dark{
    background-color: #1a1a1a;
}
.debug{
    border:1px solid white;
}

.prompt {
    padding: 0em;
    border-radius: 1em;
}

form{
    display:block;
}

input[type="text"] {
    background-color: #414141;
    color: #ffffff;
    padding: 1em;
    border-radius: .5em;
    border: none;
    margin-left: 1em;
    width: 16.5em;

}
.font, .font::placeholder,.font[type="text"] {
    font-family: 'Source Code Pro', monospace;
    
}

input::placeholder{
    color: #9C9C9C;
}
#sinistra {
    width: 40%;
}
#destra {
    width: 60%;
}
#sinistra, #destra {
    max-height: 100%;
}
#terminale img {
    width: auto;
    max-height: 500px;
    height: auto;
    margin:auto;
}

.contenitore {
   display: flex; 
   max-height: 100%;
}
img {
    max-height: 100%;
    max-width: 100%;
}
#immagine {
    margin: 10px;
}
#terminale {
    /* width: 100%;
    height: 100%; */

}
